name: Sync to Hugging Face Space

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # fetch full history (needed for push)

      - name: Configure Git
        run: |
          git config --global user.email "arafmustavi@gmail.com"
          git config --global user.name "arafmustavi"

      - name: Push to Hugging Face Space
        run: |
          git remote add hf https://Atik513:${HF_TOKEN}@huggingface.co/spaces/Atik513/first_space
          git push hf main --force
