name: Sync to Hugging Face Space

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config --global user.email "atikhasan007@gmail.com"
          git config --global user.name "Atik513"

      - name: Push to Hugging Face Space
        run: |
          git remote remove hf || true
          git remote add hf https://Atik513:${HF_TOKEN}@huggingface.co/spaces/Atik513/first_space
          git push hf main --force
